<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h3>Week 1 - 6/11/15</h3>
			<div class="row">			
				<div class="large-10 small-10 columns">
						Phila. Masters @ Wilmington Wings
				</div>
				<div class="large-2 small-2 columns">
					<!-- nothing for now -->
				</div>
			</div>
			<div class="row">
				<div class="large-10 small-10 columns">
						Kelly's Taproom @ Bickell Electric
				</div>
				<div class="large-2 small-2 columns">
					12-7
				</div>
			</div>
			<div class="row">
				<div class="large-10 small-10 columns">
						Advil @ Ridley
				</div>
				<div class="large-2 small-2 columns">
					3-4
				</div>
			</div>
		</div>
	</div>
</div>	