<html ng-app="sllsepaApp">
<head>
  <meta http-equiv="Content-Language" content="en-us"/>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
  <title>sllsepa.com - Summer Lacrosse South Eastern PA></title>
  <link rel="stylesheet" href="/css/sllsepa.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/foundation.min.css" />

  <script src="/js/vendor/modernizr.js"></script>
  <script src="/js/vendor/angular.js"></script>
</head>

<body>
	<div id="frame">
		<div id="header">
			</span>
			<h1 style="float:left;">SLLSEPA</h1>
			<h3 style="float:left; clear: left;">Summer Lacrosse League of South Eastern PA</h3>
		</div>

		<div style="clear:both;"></div>

		<nav class="top-bar" data-topbar role="navigation">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="/">Home</a></h1>
		    </li>
		     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		  </ul>

		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
<!-- 		    <ul class="right">
		      <li class="active"><a href="#">Right Button Active</a></li>
		      <li class="has-dropdown">
		        <a href="#">Right Button Dropdown</a>
		        <ul class="dropdown">
		          <li><a href="#">First link in dropdown</a></li>
		          <li class="active"><a href="#">Active link in dropdown</a></li>
		        </ul>
		      </li>
		    </ul> -->

		    <!-- Left Nav Section -->
		    <ul class="left">
		      <li><a href="/rules">Rules &amp; Procedures</a></li>
		      <li class="has-dropdown">
		      	<a href="#">Schedules</a>
		        <ul class="dropdown">
        		  <li><a href="/schedule/tuesday">Tuesday</a></li>
        		  <li><a href="/schedule/thursday">Thursday</a></li>
        		  <li><a href="/schedule/masters">Masters</a></li>
        		</ul>
      		  </li>
		    </ul>
		  </section>
		</nav>

		<div style="clear:both;"></div>
        <!-- end errors -->
		<div id="content">
		<!-- Content -->
		 {{{body}}}	

	<!-- End Content -->
		</div>
		<div id="sidebar">

		
		<div style="border: 1px solid #999;">
</div>
<p/>				    
			<script type="text/javascript"><!--
			google_ad_client = "pub-4982092207984302";
			google_ad_width = 234;
			google_ad_height = 60;
			google_ad_format = "234x60_as";
			google_ad_type = "text_image";
			google_ad_channel = "";
			google_color_border = "000066";
			google_color_bg = "FFFFFF";
			google_color_link = "000066";
			google_color_text = "000000";
			google_color_url = "3300FF";
			//-->
			</script>
			<script type="text/javascript"
			  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			  </script>
		<p/>	
			<div class="sidebar-item" id="weeklyGames">
			</div><!-- sidebar item -->
			<div class="sidebar-item">
				<div class="sidebar-item-image">			
					<a href="http://www.palacrosse.com"><img border="0" src="/img/pla-lacrosse.jpg"></a>
				</div>
			</div>
			<div class="sidebar-item" id="rankings">
			</div><!-- sidebar item -->
			<div class="sidebar-item" id="facebook">	
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FSllsepa%2F150296798375325&amp;send=false&amp;layout=box_count&amp;width=230&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:230px; height:90px;" allowTransparency="true"></iframe>
			</div>
		</div>
		<div id="footer">
		<center>Please contact <a href="mailto:dan@kelleyland.com">dan@kelleyland.com</a> with any schedule updates or questions</center>
		</div>
		<div style="clear:both;"></div>
	</div>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23968352-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>		
</body>	
</html>
