<p>&nbsp;</p>
<div style="padding-left: 50px">
	<h1 style="font-size: 20px">Summer 2016</h1>
<p>
<h3>2016 Team Meeting</h3>
This years meeting is on June 7th at Baggataway Tavern.  Stay tuned for more details.
<br/>
Please contact <a href="mailto:djderose@comcast.net">djderose@comcast.net</a> with any questions
<!-- Please email any stories, pictures or scores to dan@kelleyland.com for posting to the website and facebook! -->
</p>
</div>
