<p>&nbsp;</p>
<div style="padding-left: 50px">
	<h1 style="font-size: 20px">Summer 2015</h1>
<p>
 Please email any stories, pictures or scores to dan@kelleyland.com for posting to the website and facebook!
</p>
</div>