<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h3>Rules &amp Regulations</h3>
			<div class="row">
				<div class="large-4 columns">
					<a class="th" target="_new" href="docs/2015RulesAndProcedures.pdf">
					  <img src="/img/pdfDownload.png">
					</a>
				</div>
				<div class="large-8 columns">
					Please download and review the rules concerning scores, tie breakers, sportsmanship and much more.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h3>Insurance Certificates</h3>
			<p>To get a certificate sent directly to the entity from which you obtain your field follow these steps:</p>
			<p>
				<b>Send a NEW, SEPARATE, DISTICT, and DEDICATED email to djderose@comcast.net with the following information:</b>
				<ol>
					<li>Your team name</li>
					<li>The name and address of the field to be insured</li>
					<li>The name, address, fax, phone number of your field contact person</li>
				</ol>
			</p>
		</div>
	</div>
</div>


<div class="row">
	<div class="large-12 columns">
		<h3>Questions?</h3>
		<b>Contact:</b>
		<p>Jim DeRose<br/>
			610-220-3066<br/>
			djderose@comcast.net
		</p>
	</div>
</div>