<div class="row">
	<div class="large-12 columns">
		<h1>Tuesday 06/16 Schedule</h1>
	</div>
    
 	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<h3>Tuesday Night League</h3>
				<div class="row">
					<div class="large-2 small-2 columns">
						<!-- nothing for now -->
					</div>
				
					<div class="large-10 small-10 columns">
						<p>
							<b>South</b><br/>
Cocos/Sun Valley @ O’Hara<br/>
Top Shelf @Sligos/Garnet Valley<br/>
Ridley @ Haverford/JD Mcgillicudy - game @ Bonner<br/>
Springfield/Taproom @ UD/ Murrays<br/>

<b>North</b><br/>
Dunn Financial @ GALC<br/>
Baggataway @ Duffers (8:00)<br/>
Team Tropics @ Kelly Sports<br/>
Rustin @ Mud Dogs<br/>

<b>Crossover</b><br/>
Lax Zone @ Old ions<br/>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>	

	<div class="large-12 columns">
		<h1>Thursday 06/18 Schedule</h1>
	</div>
    
 	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<h3>Norman Treinish - Thursday Night League</h3>
				<div class="row">
					<div class="large-2 small-2 columns">
						<!-- nothing for now -->
					</div>
				
					<div class="large-10 small-10 columns">
						<p>
							Bryn Mawr Trust @ OPC<br/>
							Dunn Financial @ Mesa Fresh<br/>
							GMH @ Mojo’s<br/>
							LaSalle Alums @ 1789<br/>
							Lacrosse International @ Smokey Joes<br/>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>	

 	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<h3>Masters - Thursday Night League</h3>
				<div class="row">
					<div class="large-2 small-2 columns">
						<!-- nothing for now -->
					</div>
				
					<div class="large-10 small-10 columns">
						<p>
							Phila. Masters @ Ridley<br/>
							Wilmington Wings @ Bickell Electric<br/>
							Kelly's	@ Team Advil<br/>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>	


	

	<div class="large-12 columns">
		<h1>Thursday 06/11 Schedule</h1>
	</div>
    <div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<h3>Open League</h3>
				<div class="row">
					<div class="large-2 small-2 columns">
						<!-- nothing for now -->
					</div>
				
					<div class="large-10 small-10 columns">
						<p>
						LXI @ BMT<br/>
						DFN @ OPC<br/>
						1789 @ GMH<br/>
						MFR @ SJO 8:00<br/>
						MOJ @ LSA
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<h3>Master's League</h3>
				<div class="row">
					<div class="large-2 small-2 columns">
						<!-- nothing for now -->
					</div>
				
					<div class="large-10 small-10 columns">
						<p>
						PHILA. MASTERS @ WILMINGTON WINGS<br/>
						KELLY'S @ BICKELL ELECTRIC (12-7)<br/>
						RIDLEY @ TEAM ADVIL
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>




